@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts.scss' as *;

.streaming {
    padding: 2rem 1.5rem;
    text-align: center;

    &__step {
        color: $color-telus-green;
    }

    &__icon {
        margin: auto;
        padding: 1rem 0 0.5rem 0;
    }

    &__title {
        color: $color-telus-purple;
        line-height: 1.5rem;
    }

    &__description {
        padding: .8rem;
        color: $color-text;
        width: 295px;
        margin: auto;
        padding-bottom: 1.5rem;
        line-height: 1.5rem;
    }

    &__label {
        color: $color-telus-purple;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
    }

    &__btn-container {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;

        &-item {
            width: 100px;
            height: auto;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.3s ease;

            &.selected {
                opacity: 1;
            }

            &:not(.selected) {
                opacity: 0.5;
            }
        }
    }
}
