$color-telus-green: #66CC00;
$color-telus-purple: #4B286D;
$color-accessible-green: #2B8000;
$color-white: #fff;
$color-hero: #F4F4F7;
$color-text: #2A2C2E;
$color-error: #C12335;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


