@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts.scss' as *;

.budget{
    padding: 2rem 1.5rem;
    text-align: center;

    &__step{
        color: $color-telus-green;
    }

    &__icon{
        margin: auto;
        padding: 1rem 0 0.5rem 0;
    }

    &__title{
        color:$color-telus-purple;
        line-height: 1.5rem;
    }

    &__description{
        padding: .8rem;
        color: $color-text;
        width: 290px;
        margin: auto;
        padding-bottom: 1.5rem;
        line-height: 1.5rem;
    }

    &__label{
        color: $color-telus-purple;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
    }

    &__btn-container{
        padding-top: 1rem;

        &-item{
            @include font-mobile-button-label;
            width: 100%;
            color: $color-accessible-green;
            border: 2px solid $color-accessible-green;
            background: $color-white;
            padding: 0.8rem 1.5rem;
            border-radius: 2.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            line-height: 1rem;
            cursor: pointer;
            &--active {
                background:$color-accessible-green;
                color: $color-white;
            }
            &:active{
                background:$color-accessible-green;
                color: $color-white;
            }
        }
    }
}


// .btn{
  
// }