@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero2 {
  background-color: #f4f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  padding: 0;
  text-align: center;
  position: relative;
  margin-top: var(--header-height);

  @include tablet {
    height: calc(100vh - var(--header-height));
  }

  @include desktop {
    height: calc(100vh - var(--header-height));
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color-telus-purple;
    font-size: 2rem;
    font-weight: 600;

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__description {
    margin-bottom: 20px;
    margin-top: 0;
    color: #2a2c2e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 312px;
    height: 48px;

    @include tablet {
      font-size: 18px;
      width: 400px;
    }

    @include desktop {
      font-size: 20px;
      width: 500px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-top: auto;
  }
}
